# =========================
# Directorios de datos
# =========================
ARCHIVOS/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Entornos virtuales
# =========================
venv/
.env/
.venv/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Archivos temporales
# =========================
*.log
*.tmp